
body{
    margin: 0;
    font-family: "Roboto", sans-serif;
}
img{
    max-width: 100%;
    height: auto;
}
.shadow{
    box-shadow: 0 4px 13px rgba(3, 50, 41, 0.18);
}
h2{
    text-align: center;
    color: rgb(7, 149, 114);
    margin: 1rem 0 0 0;
}
/*banner*/
#banner{
    position: relative;
    justify-content: center;
    background: 
        linear-gradient(180deg,rgba(80, 204, 171, 0.4) 0%, rgba(87, 199, 133, 1) 100%);
    color: white;
    text-align: center;
    height: 30vh;
    padding: 8% 5% 8% 5%;
    overflow: hidden; 
}
    #banner video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
    }
    #banner img{
        margin: 0;
        width: auto;
        height: 15vh;
    }
    #banner p{
        font-size: 2vh;
        margin: 0.5rem 0 1rem 0;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    }
    #banner button{
    padding: 0.4rem 0.4rem;
    background: rgba(7, 54, 85, 0.23);
    border-radius: 20px;
    border: 0.12rem solid white;
    transition: transform 0.6s cubic-bezier(0.33, 1, 0.68, 1);
    }
        #banner button:hover{
                 transform: scale(1.1);
}
    #banner a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    }
/*cabeçario*/
#heads{
    position: sticky;
    top: 0px;
    background: rgb(255, 255, 255);
    height: 4.3vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px solid #e0e0e0;
    z-index: 3;
}
    .headerbtn{
    color: rgb(7, 149, 114);
    text-decoration: none;
    font-weight: bold;
    margin: 0.2rem 1rem 0 1rem;
    transition: transform 0.6s cubic-bezier(0.33, 1, 0.68, 1);
    }
            .headerbtn:hover{
                 transform: scale(1.1);
            }
/*sobre*/
#sobre{
    padding: 1rem 1rem;

}
    .secsobre{
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    gap: 1rem;
    }
        @media (min-width: 768px) {
            .secsobre {
                grid-template-columns: 1fr 1fr;
        }
}
    .cardgrande{
        padding: 1rem;
        background: #d9fff2;
        border-radius: 20px;
        min-width: auto;
        max-width: 34rem;
    }
    #sobre img{
        background-color: rgb(68, 68, 255);
        width: auto;
        min-height: 25vh;
        max-height: 32vh;
        border-radius: 20px;
        margin: 2vh 0 2vh 0;
    }
/*serviços*/
#servicos{
    display: flex;
    place-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
}
    .card{
        position: relative;
        padding: 5%;
        /*background-image: linear-gradient(180deg,rgba(30, 225, 173, 0.494) 0%, #d9fff29a 100%);*/
        color: white;
        border-radius: 20px;
        width: 15rem;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
        background-size: cover;
        background-position: center;
        
        transition: background-image 1.5s ease-in-out;
    }
    .card h2{
        margin: 0.5rem 0 0.5rem 0;
        color: white;
    }
    /*.card img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -2;
        border-radius: 20px;
    }*/
/*footer*/
 #foot {
      --mask:
    radial-gradient(2.24rem at 50% 3rem,#000 99%,#0000 101%) calc(50% - 2rem) 0/4rem 100%,
    radial-gradient(2.24rem at 50% -2rem,#0000 99%,#000 101%) 50% 1rem/4rem 100% repeat-x;
  -webkit-mask: var(--mask);
          mask: var(--mask);
    background: linear-gradient(180deg,rgb(1, 36, 37) 0%, rgb(0, 0, 0) 100%);
    padding: 5%;
    text-align: center;
}
    #foot p {
    color: white;
    margin: 0.4rem 0 0 0;
    font-size: 0.9rem;
    }
    #foot h2{
    color: white;
    margin: 0.4rem 0 0 0;
    }
